# Dependencies
node_modules/
yarn.lock
package-lock.json
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.*.local
PRIVATE_KEY=0x2aa44a2c449c713d73e1e064be029c3d793329fa86d6e65d392b055278acd472
INFURA_API_KEY=b8a94ea981e04eb1a482ef526c0e4430
ETHERSCAN_API_KEY=WMEQP3FJJDQX9UJKH627EHNQITP7PZ5C7T

# Hardhat files
cache/
artifacts/
typechain-types/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
coverage/
.nyc_output/

# Build outputs
build/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
